{
  "overrides": [
    {
      "files": ["src/**/*.ts", "src/**/*.js"],
      "options": {
        "parser": "typescript",
        "singleQuote": true,
        "printWidth": 100
      }
    },
    {
      "files": ["src/**/*.html"],
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["src/**/*.scss", "src/**/*.css"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "**/*.json",
      "options": {
        "parser": "json",
        "printWidth": 120
      }
    }
  ]
}
