:host {
  position: relative;
  display: block;
  border-radius: 3px;
  padding: 8px;
  height: 100%;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #999;
}

.content-wrapper {
  width: 100%;
  height: calc(100% - 125px);
}

.button-wrapper {
  height: 125px;
}
