<div>
  
  <div>{{card.frontText}}</div>
  <div>{{card.backText}}</div>

  <div *ngIf="!markRemeber">
    <ion-button color="light" expand="block" (click)="markRemeberLevel('EASY')">Easy</ion-button>
    <ion-button color="light" expand="block" (click)="markRemeberLevel('REMEBER')">Remeber</ion-button>
    <ion-button color="light" expand="block" (click)="markRemeberLevel('FORGOT')">Forgot</ion-button>  
  </div>
  
  <div *ngIf="markRemeber">
    <ion-button color="light" expand="block" (click)="next.emit()">Next</ion-button>
  </div>
  
</div>